h1, h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div#hi {
    display: flex !important;
    justify-content: center;
}

.iconBtn {
    margin-right: 20px;
}

.spotify-card {
    width: 80%;
    height: 50vh;
    margin: 15px auto;
    background-color: #FBD2FF !important;
}