h1, h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.spotify-launch-btns {
    font-size: 50px;
    margin: 105px;
}

.emoji {
    display: flex;
    justify-content: center;
}